@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,600,800');
body {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  background: #fff;
  overflow-x: hidden;
}
p {
  font-size: 14px;
  line-height: 26px;
}
a:hover,
a:focus {
  color: rgb(53, 218, 172);
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn-common {
  border: 2px solid rgb(53, 218, 172);
  background-color: rgba(53, 218, 172,0.9);
  position: relative;
  z-index: 1;
  border-radius: 4px;
}
.btn-common:hover {
  color: rgb(53, 218, 172);
  background-color: transparent;
  border: 2px solid rgb(53, 218, 172);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.btn-border {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
}
.btn-border:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: rgb(53, 218, 172);
}
.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}
.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}
.clear {
  clear: both;
}
h1,
h2{
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
a:not([href]):not([tabindex]) {
  color: #fff;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: rgb(53, 218, 172);
}
.section {
  padding: 70px 0;
}
.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: #0d3559;
  position: relative;
}
.section-title span {
  color: rgb(53, 218, 172);
}

div.container.center.mb-5.py-2 .row span {
  color: rgb(53, 218, 172);
  font-size: 15px;
  font-weight: bold;

}

.section-header .section-subtitle {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 1px solid #333;
  margin-top: 15px;
}
.section-header .lines:before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  top: -10px;
  border: 4px solid #fff;
  border-radius: 50%;
  background: rgb(53, 218, 172);
  left: 27px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section-header .section-title {
    font-size: 22px;
  }
 
}
@media (max-width: 640px) {
  .section-header .section-title {
    font-size: 30px;
  }
  .menu-wrap {
    padding: 10px;
  }
  .icon-list a {
    padding: 5px 0;
  }
  .icon-list a::before {
    top: 5px;
  }
}
/* ==========================================================================
   Navbar Style
   ========================================================================== */
.bg-faded {
  background-color: #fff;
}
.logo-menu a {
  font-size: 20px;
  color: #fff;
}
.menu-bg {
  background-color: #0d1838!important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  padding: 9px;
}
.menu-bg .menu-button {
  top: 0;
}
.menu-bg .menu-button:hover {
  cursor: pointer;
  color: #333;
}
.menu-bg .logo-menu a {
  color: rgb(53, 218, 172);
}
.menu-button:hover {
  cursor: pointer;
  opacity: #eee;
}
.close-button {
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-item {
  margin-left: 15px;
}
.navbar-light .navbar-nav .nav-link {
  color: #0d3559;
  padding: 7px 0px;
  margin-left: 5px;
  position: relative;
  font-size: 15px;
  letter-spacing: 0.3px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover:before {
  color: rgb(53, 218, 172);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:before,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link {
  color: rgb(53, 218, 172);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-light .navbar-toggler {
  border-color: #333;
  border-radius: 0px;
}
.navbar-light .navbar-toggler {
  float: right;
  margin: 10px;
}
.navbar-light .navbar-toggler i {
  color: #333!important;
}

/* ==========================================================================
   Slider Area
   ========================================================================== */
#slider-area {
  margin-top: -1px;
}
#slider-area h1 {
  font-weight: 100;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
#slider-area p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
#slider-area .sticky-navigation {
  background: transparent;
}
#slider-area .btn {
  margin-right: 15px;
}
#slider-area .large_white {
  color: #fff;
}
/* ==========================================================================
   header Background
   ========================================================================== */
#header-area {
  background: url(https://source.unsplash.com/5f4hUdiJGIs);
  background-size:cover;
  position: relative;
  z-index:10;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#header-area .contents {
  padding: 200px 0 300px;
  margin:50px;
}
#header-area .contents h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 70px;
}
#header-area .contents p {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
#header-area .contents .btn {
  margin: 20px 10px;
  text-transform: uppercase;
}
#header-area .banner_bottom_btn {
  margin-top: 40px;
}
#header-area .banner_bottom_btn i {
  color: #fff;
  font-size: 48px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#header-area .banner_bottom_btn i:hover {
  color: rgb(53, 218, 172);
}
.overlay-2 {
  background: rgba(0, 0, 0, 0.7) !important;
}
#header-area .contents span{
  color: rgb(53, 218, 172);
  font-size: 20px;
  font-weight: bold;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(53, 218, 172);
  opacity: 0.7;
  filter: alpha(opacity=70);
}

@media (min-width: 768px) and (max-width: 1024px) {
  
    #header-area .contents{
      margin:0px;
    }
    #header-area .contents h1 {
      font-size: 33px;
      font-weight: 600;
    }
  }
  @media (min-width: 480px) and (max-width: 768px) {
  
    #header-area .contents{
      margin:0px;
    }
    #header-area .contents h1 {
      font-size: 33px;
      font-weight: 600;
    }
  }
  @media (min-width: 300px) and (max-width: 480px) {
  
      #header-area .contents{
        margin:10px;
      }
      #header-area .contents h1 {
      font-size: 27px;
      line-height: 40px;
    }
      #header-area .contents p {
        font-size: 13px;
        line-height: 20px;
        }
        #header-area .contents span{
        font-size: 15px;
      }
    
  }

/* ==========================================================================
   why-Coopt Section Style
   ========================================================================== */
#why-Coopt div div h4{
  font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

#why-Coopt {
  position: relative;
  background: #f2f2f2;
}
#why-Coopt .item-boxes{
    flex: 0 0 23%;
    max-width: 23%;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1), 0 2px 9px 0 rgba(62, 57, 107, 0.1);
    border-color: rgba(62, 57, 107, 0.1);
}

@media (min-width: 300px) and (max-width: 1040px) {
    #why-Coopt .item-boxes{ 
      min-width: 220px;
      margin: 25px 5px;
    }
    #why-Coopt div{
      padding: 0px 10px;
    }

    .item-boxes h4 {
    font-size: 16px;
  }
    
}

/* ==========================================================================
   Features Section Style
   ========================================================================== */
#section-features {
  background: #fff;
}
#section-features .feature_image {
}
#section-features .row {
  padding-bottom: 50px;
  padding-top: 50px;
}

#section-features .row .row{
  padding-bottom: 20px;
  padding-top: 10px;
}
#section-features h3 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
}
#section-features h4 {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
#section-features p {
  font-family: 'Lato', sans-serif;
}
#section-features span{
  color: rgb(53, 218, 172);
}

#section-features .feature_image{
  padding-bottom: 20px;
  width: 100%
}
#section-features img{
  width: 100%
}

@media (min-width: 300px) and (max-width: 480px) {
      #section-features .section-header{
        margin-bottom: 0px
      }
      #section-features .text .row {
        padding-bottom: 0px;
      }
      #section-features #botImg{
       height: 10%;
      }
      #section-features img {
        padding-bottom: 20px;
      }

}



/* ==========================================================================
    Subscribe Style
    ========================================================================== */
#subscribe{
 background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url(https://source.unsplash.com/aH9p_lOKTZU);
  background-size:cover;
  position: relative;
  z-index: 2;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#subscribe .section-header {
  margin-bottom: 0px;
}
#subscribe h2 {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
}
#subscribe .row {
  margin-bottom: -40px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}
#subscribe #trusty-contact{
  margin-right: auto;
  margin-left: auto;
}
#subscribe #btn-contact{
  margin-right: auto;
  margin-left: auto;
}
#subscribe .sub_btn {
  display:inline-block;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

  
  border-radius: 7px;
  color: #fff;
  border: 2px solid rgb(53, 218, 172);
  background: rgba(53, 218, 172,0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding:0px 28px;
  text-align:center;
  font-family: 'Avenir Next', sans-serif;
  font-weight:600;
  height: 70px;
  line-height: 72px;
  font-size: 27px;
  text-transform: uppercase;
  cursor: pointer;
}

#subscribe .sub_btn:hover {
  color: rgb(53, 218, 172);
  background-color: transparent;
  border: 2px solid rgb(53, 218, 172);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1200px) {
 #subscribe {
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  } 
  #subscribe #btn-contact {
    height: 50px;
    line-height: 100px;  
  }
  #subscribe .sub_btn{
    font-size: 17px;
    font-weight:600;
    width: 250px;
  }
  #subscribe #trusty-contact{
    margin-right: 0px;
  }
  #subscribe #trusty-contact img{
    width:100%;
    height: 100%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #subscribe {
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 100px;
  } 
  #subscribe .container{
   margin: 0 auto;
  }
  #subscribe #btn-contact {
    height: 50px;
    line-height: 50px;
    margin: 0 10%;
  }
  #subscribe .sub_btn{
    margin: 0 10%;
    width:80%;
    font-size: 20px;
    font-weight:600;
  }
  #subscribe #trusty-contact img{
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 300px) and (max-width: 480px) {

  #subscribe {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url(https://source.unsplash.com/aH9p_lOKTZU/800X800);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    padding-bottom: 100px;
  } 

  #subscribe .container{
   margin: 0 auto;
  }
  #subscribe #btn-contact {
    height: 50px;
    line-height: 50px;
    margin: 0 10%;
  }
  #subscribe .sub_btn{
    width:100%;
    font-weight:600;
    font-size: 17px;
    padding:0px 10px;
  }
  #subscribe #trusty-contact img{
    width: 100%;
    height: 100%;
  }
}


/* ==========================================================================
   Testimonial Section Style
   ========================================================================== */
#testimonial {
  background: #f2f2f2;
}
.testimonial-item {
  text-align: center;
}
.testimonial-item img {
  width: 250px;
  height: 70px;
  border-radius: 50%;
}




/* ==========================================================================
   Footer Style
   ========================================================================== */
footer {
  background:  #0d1838!important;
  padding: 30px 0px 15px;
  text-align: center;
}
footer .p{
  text-align: left
}
.site-info p {
  line-height: 34px;
  color: #fff;
}
.site-info p a {
  color: #fff;
}
.site-info p a:hover {
  color: rgb(53, 218, 172);
}
.social-icons {
  margin-bottom: 20px;
}
.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icons ul li {
  display: inline;
}
.social-icons ul li a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #48A48E;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
}
.social-icons ul li a:hover {
  color: #ffffff;
}
.linkedin a {
  color: #007bb6;
}
.linkedin a:hover {
  background: #007bb6;
}
.CondUtil{
 color: #fff;
 
}



@media (min-width: 300px) and (max-width: 480px) {
  .social-icons ul li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
}


.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
}
.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(53, 218, 172);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 9999999999;
}
.spinner {
  width: 40px;
  height: 40px;
  top: 45%;
  position: relative;
  margin: 0px auto;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(53, 218, 172);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
