@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@font-face {
  font-family: 'AvenirNext-Heavy, Avenir Next';
  src: "../fonts/Avenir_Next.ttc"; 
}

/*  'Lato', sans-serif;   */


body {
  font-family: 'Montserrat', sans-serif;
  color: #0d3559;
  font-size: 14px;
  font-weight: 300;
  background: #fff;
  overflow-x: hidden;
}
p {
  font-size: 14px;
  line-height: 14px;
}
a:hover,
a:focus {
  color: rgb(53, 218, 172);
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}


.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  font-family:'Montserrat', sans-serif;
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn-blue {
  color: #0d1838;
  border: 2px solid #0d1838;
  background-color: transparent;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}
.btn-common {
  color: rgb(53, 218, 172);
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}
.btn-blue:hover {
  color: white;
  background-color: #0d1838;
  border: 2px solid rgba(35, 212, 131,0); 
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.btn-common:hover {
  color: white;
  background-color: #3dc39a;
  border: 2px solid #3dc39a;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

h1,
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
a:not([href]):not([tabindex]) {
  color: #fff;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: rgb(53, 218, 172);
}
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 100px 0px;
  min-height:100vh;
}
.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
.section-header .section-title {

  color: #0d3559;
}
.section-title span {
  color:rgb(53, 218, 172)
}

.section-header .section-subtitle {
  margin-top: 15px;
  color: #0d3559;;
  font-size: 14px;
  font-weight: 400;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .section-header .section-title {
    font-size: 22px;
  }
 
}
@media (max-width: 640px) {
  .section-header .section-title {
    font-size: 30px;
  }
  .menu-wrap {
    padding: 10px;
  }
  .icon-list a {
    padding: 5px 0;
  }
  .icon-list a::before {
    top: 5px;
  }
}
/* ==========================================================================
   Navbar Style
   ========================================================================== */


.bg-faded {
  background-color: #fff;
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo-menu img{
  height:42px;
}
.top-menu-button{
  border: none;
  font-size: 30px;
  color: #fff;
  background: transparent;
  top: 15px;
  right: 0;
  line-height: 42px;
  text-align: center;
}
.fixed-top{
  padding: 5% 8vw 0 8vw 
}
.close-button {
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-item {
  margin-left: 15px;
}
.navbar-light .navbar-nav .nav-link {
  color: #0d3559;
  padding: 7px 0px;
  margin-left: 5px;
  position: relative;
  font-size: 15px;
  letter-spacing: 0.3px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover:before {
  color: rgb(53, 218, 172);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:before,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link {
  color: rgb(53, 218, 172);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-light .navbar-toggler {
  border-color: #0d3559;
  border-radius: 0px;
}
.navbar-light .navbar-toggler {
  float: right;
  margin: 10px;
}
.navbar-light .navbar-toggler i {
  color: #0d3559!important;
}

/* ==========================================================================
   Slider Area
   ========================================================================== */
#slider-area {
  margin-top: -1px;
}
#slider-area h1 {
  font-weight: 100;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
#slider-area p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
#slider-area .sticky-navigation {
  background: transparent;
}

#slider-area .large_white {
  color: #fff;
}
/* ==========================================================================
   header Background
   ========================================================================== */
#header-area {
  background:content-box linear-gradient(  rgb(35, 212, 131), #55E1C1);
  display: flex;
  flex-direction: column;
  justify-content: start ;
  height:100vh;
  min-height:600px;
}
.header-content{
  margin: auto 0;
  padding:0 7vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.header-text{
  width: 65%;

}
.header-text_subtitle{
  margin-bottom: 40px;
}

#header-area h1 {
  color: #fff;
  margin-bottom: 40px;
  line-height: 60px;
  font-size: 50px;
}
#header-area p {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-weight: 300
  
}
#header-area span{
  color:#0d1838;
}
#header-area .btn {
  margin: 15px 0px;
  text-transform: uppercase;
}
#header-area a {
  font-weight: 400;

}

.header-img{
  display: block;
  position: absolute;
  max-width: 70vw;
  right: -20%;
  bottom: -10%;
  transform: rotate(-50deg);
  /*transform: translateY(0px)*/
}



@media (min-width: 768px) and (max-width: 1024px) {
  
    
    #header-area  h1 {
      font-size: 33px;
      font-weight: 600;
    }
  }
  @media (min-width: 480px) and (max-width: 768px) {
    
   
    #header-area h1 {
      font-size: 33px;
      font-weight: 600;
    }
  }
  @media (min-width: 300px) and (max-width: 480px) {
    #header-area {
      justify-content: center ;
    }
    .header-img{
      display:none 
    }
    .header-text {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    #header-area h1 {
        font-size: 27px;
        line-height: 40px;
        text-align: center;
    }
    #header-area p {
      font-size: 13px;
      line-height: 20px;
      text-align: center;
    }
    #header-area span{
      font-size: 15px;
    }
    
  }

/* ==========================================================================
   why-Coopt Section Style
   ========================================================================== */

#why-Coopt {
  position: relative;
  background: #f2f2f2;
}
.elements-why-Coopt{ 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: start;
  align-items: start;
  flex-wrap: wrap;
}
#why-Coopt .item-boxes{
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 200px;
  text-align: center;
  padding: 10px 15px;
}
#why-Coopt .item-boxes img{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 5px;
  width: 100px;
  height: 100px;
}

#why-Coopt .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 1px solid #cccaca;
  margin-top: 15px;
}
#why-Coopt span{
  color:rgb(85, 225, 193);
  font-weight: 400;
}

#why-Coopt h4{
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
#why-Coopt p{
  font-size: 12px;
  line-height: 22px;
}

@media (min-width: 300px) and (max-width: 1040px) {
   

  #why-Coopt h4 {
    font-size: 16px;
  }
    
}

/* ==========================================================================
   Boutton  platform GENERAL
   ========================================================================== */
.boutton_platform div{
  border-radius: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: space-evenly;

  background:rgb(85, 225, 193);
  border: 3px solid rgb(85, 225, 193);

  border-radius: 20px;
  
}
.slider{
  background-color: whitesmoke;
  border-radius: 17px;

  position: absolute;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: .2s;
  transition: .2s
}
.boutton_platform .btn {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

  height: 5vh;
  padding: 20px 10px;
  border-width: 1px;
  border-radius: 20px;
}

.btn:active, .btn.active{
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
.btn.active.focus, .btn.focus{
outline: unset;
outline-offset: unset;
}

/* ==========================================================================
   Boutton Side platform
   ========================================================================== */
#boutton_side_platform{
  z-index: 99999;
  position: fixed;
  right: 1vw;
  top: 50vh;
}
#boutton_side_platform div{
  flex-direction: column;
}
#slider_side_boutton {
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width:100%;
  height:50%;
}


.boutton_platform .btn:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

#boutton_side_platform img {
  height:15px;
  display: block;
  pointer-events: none;
  
}

/* ==========================================================================
   Section platform
   ========================================================================== */

   #section-platform {
    color :  #0d3559;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 5vh 0px;
    margin: 0px auto;
  }
  #section-platform span {
    color: #0d1838;;
  }
  .elements_platforms{
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  #boutton_section_platform{
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;  
  }
  #boutton_section_platform div{
    flex-direction: row;
    height: 5vh;
    width: 15vh;
    min-height: 30px;
    min-width:70px;
    border-radius: 20px;
    
  }
  #slider_section_boutton{
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width:50%;
    height:100%;
  }
  #boutton_section_platform img {
    height: 2.5vh;
    display: block;
    pointer-events: none;
  }



/* ==========================================================================
   Features Section Style
   ========================================================================== */
.features .container{
  width:100%;
  margin: 0px 0px;
  padding: 0px 10%;
}
  #section-features-One {
  background: #fff;
}
.elements_feature{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;    
  flex: 0 1 auto;
}
#section-features-Two {
  background:#f2f2f2;
}
#section-features-Three {
  background: #fff;
}
#section-features-Four {
  background:#f2f2f2;
}
#section-features-Five {
  background: #fff;
}
.features .feature_image {
  padding: 0px 2%;
  width : 50%;
}

.feature_content{
  /*min-width: 200px;*/
  width : 50%;
}
.features h1 {
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 40px;
}
.features h4 {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 30px;
}
.features span{
  color: rgb(53, 218, 172);
}
.features img{
  height: auto;
  max-width: 100%;
  order: unset;
}
.text .pr-5{
  margin-bottom: 10px;
}
@media (max-width: 1200px){
  .elements_feature{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .image_pair{
    order: -1;
  };
}
@media (min-width: 300px) and (max-width: 480px) {
  .features .section-header{
        margin-bottom: 0px
      }
      .features .text .row {
        padding-bottom: 0px;
      }
      .features img {
        padding-bottom: 20px;
      }
      .feature_content{
        /*min-width: 200px;*/
        padding: 6%;
        width: 100%;
      }
}

/* ==========================================================================
   SUM UP 
   ========================================================================== */
  #assets{
    color:white;
    background: #0d1838!important;
  }
  #assets .section-header{
    padding: 0px 10%;
  }
  .elements-assets{
    padding: 0px 10%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .item-asset{
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 250px;
    text-align: center;
    padding: 0px 35px;
    margin: 30px 0px;
  }
  .assets-image{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 30px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.35);
    border-image: initial;
  }
  .assets-image img {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    image-rendering: -webkit-optimize-contrast;
  }
/* ==========================================================================
   Integration Section Style
   ========================================================================== */
   #integration {
    background: #f2f2f2;
  }
  .elements-integration{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .integration-item-wk {
    text-align: center;
  }
  .integration-item-slack {
    text-align: center;
  }
  .integration-item-messenger {
    text-align: center;
  }
  .integration-item-wk img {
    width: 70%;
    border-radius: 80%;
  }
  .integration-item-slack img {
    width: 100%;
  }
  .integration-item-messenger img {
    width: 30%;
  }


  /* ==========================================================================
   Prtner Section Style
   ========================================================================== */
#partner {
  background: #f2f2f2;
}
.partner_element{
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.partner_item {
  text-align: center;
}
.partner_item img {
  width: 33%;
}



/* ==========================================================================
    Subscribe Style
    ========================================================================== */
#subscribe{
  background: content-box linear-gradient( rgb(35, 212, 131), #55E1C1);
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0px;
  min-height: 80vh;
}
.elements-subscribe{
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
#subscribe h2 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}
#subscribe span {
 color:#0d1838
}

#subscribe .sub_btn {

  margin: 20px 10px;
  text-transform: uppercase;

  display:inline-block;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

  padding:0px 28px;
  text-align:center;
  
}

#subscribe .sub_btn:hover {
  color: #fff;
  background: #0d1838;
  border: 2px solid #0d1838;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1200px) {
 #subscribe {
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  } 
  #subscribe #btn-contact {
    height: 50px;
    line-height: 100px;  
  }

  #brand_title_sub{
    font-size: 100px;
    margin-left: -20px;
  }
  
  
}
@media (min-width: 480px) and (max-width: 767px) {
  #subscribe h2 {
    font-size: 20px;
  }
  #subscribe {
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 100px;
  } 
  #subscribe #btn-contact {
    height: 50px;
    line-height: 50px;
    margin: 0 10%;
  }
  #subscribe .sub_btn{
    margin: 0 10%;
    width:80%;
    font-size: 20px;
    font-weight:600;
  }
  #subscribe .row {  
    flex-direction: column;
  }
  #brand_title_sub{
    font-size: 90px;
    text-align: center;
  }
  #trusty-contact{
  padding-right: 0px;
}
  
}
@media (min-width: 300px) and (max-width: 480px) {
  #subscribe h2 {
    font-size: 20px;
  }

  #subscribe #btn-contact {
    height: 50px;
    line-height: 50px;
    margin: 0 10%;
  }
  #subscribe .sub_btn{
    width:100%;
    font-weight:600;
    font-size: 17px;
    padding:0px 10px;
  }
  #subscribe .row {  
    flex-direction: column;
  }
  #brand_title_sub{
    font-size: 80px;
    text-align: center;
  }
  
  #logo_contact{
    width:100%;
  }
  
}





/* ==========================================================================
   Footer Style
   ========================================================================== */
footer {
  background:  #0d1838!important;
  padding: 30px 0px 15px;
  text-align: center;
  min-height:20vh;
}
footer .p{
  text-align: left
}
.site-info p {
  line-height: 34px;
  color: #fff;
}
.site-info p a {
  color: #fff;
}
.site-info p a:hover {
  color: rgb(53, 218, 172);
}
.social-icons {
  margin-bottom: 20px;
}
.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icons ul li {
  display: inline;
}
.social-icons ul li a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #48A48E;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
}
.social-icons ul li a:hover {
  color: #ffffff;
}
.linkedin a {
  color: #007bb6;
}
.linkedin a:hover {
  background: #007bb6;
}
.CondUtil{
 color: #fff;
 
}



@media (min-width: 300px) and (max-width: 480px) {
  .social-icons ul li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
}


.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
}
.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(53, 218, 172);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0d3559;
  z-index: 9999999999;
}
.spinner {
  width: 40px;
  height: 40px;
  top: 45%;
  position: relative;
  margin: 0px auto;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(53, 218, 172);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
